/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* adjust typography defaults */
body {
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #4c6096;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

Tilt {
  position: absolute;
  width: 500px;
  height: 500px;
  border: solid #4c6096 10px;
  border-radius: 100%;
  z-index: 0;
  -webkit-box-shadow: 0px 0px 21px 10px #4c6096;
  box-shadow: 0px 0px 21px 10px #4c6096;
  @media (min-width: 320px) {
    width: 300px;
    height: 300px;
    border: solid #4c6096 5px;
  }
  @media (min-width: 768px) {
    width: 400px;
    height: 400px;
    border: solid #4c6096 7px;
  }
  @media (min-width: 1024px) {
    width: 500px;
    height: 500px;
    border: solid #4c6096 10px;
  }
}

@font-face {
  font-family: "SaintMonica";
  src: url("https://cdn.glitch.global/7812f7dc-b12e-4d13-ad62-9680c2811117/SaintMonicaRegular.otf?v=1662029025148"),
    url("https://cdn.glitch.global/7812f7dc-b12e-4d13-ad62-9680c2811117/SaintMonicaRegular.otf?v=1662029025148")
      format("ttf");
}

@font-face {
  font-family: "GT america";
  src: url("https://cdn.glitch.global/7812f7dc-b12e-4d13-ad62-9680c2811117/GT%20America%20Extended%20Bold.ttf?v=1662029353336"),
    url("https://cdn.glitch.global/7812f7dc-b12e-4d13-ad62-9680c2811117/GT%20America%20Extended%20Bold.ttf?v=1662029353336")
      format("ttf");
}

@font-face {
  font-family: "Plantin";
  src: url("https://cdn.glitch.global/7812f7dc-b12e-4d13-ad62-9680c2811117/PlantinMTProRg.TTF?v=1662300862700"),
    url("https://cdn.glitch.global/7812f7dc-b12e-4d13-ad62-9680c2811117/PlantinMTProRg.TTF?v=1662300862700")
      format("ttf");
}
